In [2]:
!pip3 install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [1]:
import pandas as pd

name=pd.Series(["Alan","BOB","Kevin"],index=["A","B","C"])
#name.index=["1","2","3"] 可以再修改
print(name)
print(name[0])
print(name["A"])

A     Alan
B      BOB
C    Kevin
dtype: object
Alan
Alan

In [8]:
addname=pd.Series(["Amy","James","Nancy"])
new_name = name.append(addname,ignore_index=True) #index重新排序
print(new_name)

0     Alan
1      BOB
2    Kevin
3      Amy
4    James
5    Nancy
dtype: object

C:\Users\user\AppData\Local\Temp\ipykernel_205680\1379162184.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_name = name.append(addname,ignore_index=True)

In [10]:
new_name[0] ="byeAlan"

print(new_name)

0    byeAlan
1        BOB
2      Kevin
3        Amy
4      James
5      Nancy
dtype: object

In [12]:
print(new_name.size)#取得資料筆數
print("-----")
print(new_name.str.upper())#將字串資料轉換為大寫
print("-----")
print(new_name.str.lower()) #將字串資料轉換為小寫

6
-----
0    BYEALAN
1        BOB
2      KEVIN
3        AMY
4      JAMES
5      NANCY
dtype: object
-----
0    byealan
1        bob
2      kevin
3        amy
4      james
5      nancy
dtype: object

In [15]:
print(new_name.str.contains("a"))#搜尋是否包含特定字串
print("-----")
print(new_name.str.cat(sep=":")) #利用自訂分隔符連接字串
print("-----")
print(new_name.str.replace("byeAlan" , "son_of...")) #將Samsung取代為Oppo

0     True
1    False
2    False
3    False
4     True
5     True
dtype: bool
-----
byeAlan:BOB:Kevin:Amy:James:Nancy
-----
0    son_of...
1          BOB
2        Kevin
3          Amy
4        James
5        Nancy
dtype: object

In [4]:
#多維度資料
#pd.set_option('display.unicode.ambiguous_as_wide', True) #使用中文字要開啟
#pd.set_option('display.unicode.east_asian_width', True)

#dictionary建法
grades = {"name": ["Mike", "Sherry", "Cindy", "John"],
"math" : [80, 75, 93, 86],
"chinese" : [63, 90, 85, 70]}
df = pd.DataFrame(grades)
print(df)

     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70

In [19]:
#list建法
grades = [
["Mike", 80, 63],
["Sherry", 75, 90],
["Cindy", 93, 85],
["John", 86, 70]
]
new_df = pd.DataFrame(grades)
print(new_df)

        0   1   2
0    Mike  80  63
1  Sherry  75  90
2   Cindy  93  85
3    John  86  70

In [5]:
df.index = ["s1", "s2", "s3", "s4"]#自訂索引值
df.columns = ["student_name", "math_score", "chinese_score"]#自訂欄名稱
print(df)

   student_name  math_score  chinese_score
s1         Mike          80             63
s2       Sherry          75             90
s3        Cindy          93             85
s4         John          86             70

In [11]:
head_df = df.head(2)
tail_df = df.tail(2)

print(head_df)
print(tail_df)

print("-----")
print(df[0:3])

   student_name  math_score  chinese_score
s1         Mike          80             63
s2       Sherry          75             90
   student_name  math_score  chinese_score
s3        Cindy          93             85
s4         John          86             70
-----
   student_name  math_score  chinese_score
s1         Mike          80             63
s2       Sherry          75             90
s3        Cindy          93             85

In [10]:
print(df["student_name"])
print("-----")
print(df[["student_name"]]) #雙括號保持多維度
print("-----")
print(df[["student_name","math_score"]])

s1      Mike
s2    Sherry
s3     Cindy
s4      John
Name: student_name, dtype: object
-----
   student_name
s1         Mike
s2       Sherry
s3        Cindy
s4         John
-----
   student_name  math_score
s1         Mike          80
s2       Sherry          75
s3        Cindy          93
s4         John          86

In [14]:
#取一件
#先取列，再取欄
grades = {
"name":["Mike", "Sherry", "Cindy", "John"],
"math":[80, 75, 93, 86],
"chinese":[63, 90, 85, 70]
}
df = pd.DataFrame(grades)
print(df)
print("利用at()方法取得索引值為1的math欄位資料")
print(df.at[1, "math"])
print("利用iat()方法取得索引值為1的第一個欄位資料")
print(df.iat[1,0])

     name  math  chinese
0    Mike    80       63
1  Sherry    75       90
2   Cindy    93       85
3    John    86       70
利用at()方法取得索引值為1的math欄位資料
75
利用iat()方法取得索引值為1的第一個欄位資料
Sherry

In [19]:
#取多件
grades = {
"name":["Mike", "Sherry", "Cindy", "John"],
"math":[80, 75, 93, 86],
"chinese":[63, 90, 85, 70]
}
df = pd.DataFrame(grades)
print("取得資料索引值為1和3的name及chinese欄位資料集")
print(df.iloc[[1,3],[0,2]])

取得資料索引值為1和3的name及chinese欄位資料集
     name  chinese
1  Sherry       90
3    John       70

In [20]:
df.insert(2,column="English",value=[100,99,98,97])
print(df)

     name  math  English  chinese
0    Mike    80      100       63
1  Sherry    75       99       90
2   Cindy    93       98       85
3    John    86       97       70

In [21]:
new_df = df.append({"name":"Peter","math":0,"English":10,"chinese":5},ignore_index=True)
print(new_df)

     name  math  English  chinese
0    Mike    80      100       63
1  Sherry    75       99       90
2   Cindy    93       98       85
3    John    86       97       70
4   Peter     0       10        5

C:\Users\user\AppData\Local\Temp\ipykernel_100116\1343614581.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = df.append({"name":"Peter","math":0,"English":10,"chinese":5},ignore_index=True)

In [2]:
grades ={
"name" : ["Mike", "Sherry", "Cindy", "John"],
"math" : [80, 75, 93, 86],
"chinese" : [63, 90, 85, 70]
}

df = pd.DataFrame(grades)
df.index = ["s3", "S1", "S4", "s2"]
print("原來的df")
print(df)
new_df = df.sort_values(["math"], ascending=1)
print("遞增排序")
print(new_df)
new_df = df.sort_values(["math"], ascending=0)
print("遞減排序")
print(new_df)

原來的df
      name  math  chinese
s3    Mike    80       63
S1  Sherry    75       90
S4   Cindy    93       85
s2    John    86       70
遞增排序
      name  math  chinese
S1  Sherry    75       90
s3    Mike    80       63
s2    John    86       70
S4   Cindy    93       85
遞減排序
      name  math  chinese
S4   Cindy    93       85
s2    John    86       70
s3    Mike    80       63
S1  Sherry    75       90

In [4]:
new_df.to_excel("df.xlsx")

In [5]:
data = pd.read_excel("df.xlsx")
print(data)

  Unnamed: 0    name  math  chinese
0         S4   Cindy    93       85
1         s2    John    86       70
2         s3    Mike    80       63
3         S1  Sherry    75       90
4         s5     ali   100      100

In [6]:
data.to_excel("df1.xlsx")