In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.7/43.7 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [8]:
import pymysql

setting={
    "host":"localhost",
    "port":3306,
    "user":"root",
    "password":"yy860130",
    "db":"test",
    "charset":"utf8"
    
}

db=pymysql.connect(**setting)

In [4]:
cursor=db.cursor()

cursor.execute("select * from Student;")

data=cursor.fetchall()

for stu in data:
    print(stu)

('01', '趙雷', datetime.datetime(1990, 1, 1, 0, 0), '男')
('02', '錢電', datetime.datetime(1990, 12, 21, 0, 0), '男')
('03', '孫風', datetime.datetime(1990, 5, 20, 0, 0), '男')
('04', '李雲', datetime.datetime(1990, 8, 6, 0, 0), '男')
('05', '周梅', datetime.datetime(1991, 12, 1, 0, 0), '女')
('06', '吳蘭', datetime.datetime(1992, 3, 1, 0, 0), '女')
('07', '鄭竹', datetime.datetime(1989, 7, 1, 0, 0), '女')
('08', '王菊', datetime.datetime(1990, 1, 20, 0, 0), '女')

In [9]:
cursor=db.cursor()

cursor.execute("select sname, sc.sid, cid, score from student, sc\
                where student.sid=sc.sid\
                group by score;")

data=cursor.fetchall()

for stu in data:
    print(stu)

('趙雷', '01', '01', Decimal('80.0'))
('趙雷', '01', '02', Decimal('90.0'))
('趙雷', '01', '03', Decimal('99.0'))
('錢電', '02', '01', Decimal('70.0'))
('錢電', '02', '02', Decimal('60.0'))
('李雲', '04', '01', Decimal('50.0'))
('李雲', '04', '02', Decimal('30.0'))
('李雲', '04', '03', Decimal('20.0'))
('周梅', '05', '01', Decimal('76.0'))
('周梅', '05', '02', Decimal('87.0'))
('吳蘭', '06', '01', Decimal('31.0'))
('吳蘭', '06', '03', Decimal('34.0'))
('鄭竹', '07', '02', Decimal('89.0'))
('鄭竹', '07', '03', Decimal('98.0'))